@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

header {
  padding-top: 56px;
  display: flex;
  -moz-column-gap: 95px;
       column-gap: 95px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding-top: 56px;
  align-items: center;
  max-width: 1110px;
}
header ul {
  display: flex;
  -moz-column-gap: 61px;
       column-gap: 61px;
  list-style-type: none;
}
header ul li {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #7D828F;
}
header ul li a {
  text-decoration: none;
  color: #7D828F;
}
header ul li a:hover {
  cursor: pointer;
  color: #1B1D23;
}
header .no-active {
  display: none;
}

.paramour {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 108px;
  height: 720px;
  background-image: url(/home-page/images/paramour.png);
  background-repeat: no-repeat;
}
.paramour .paramour-text {
  max-width: 650px;
  padding-left: 190px;
  padding-top: 186px;
  margin-bottom: 99px;
}
.paramour .paramour-text h1 {
  width: 100%;
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.paramour .paramour-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 41px;
}
.paramour .paramour-text .button {
  background: #1B1D23;
  width: 60%;
  padding: 25px 32px 22px 35px;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.paramour .paramour-text .button:hover {
  background-color: #60636D;
  cursor: pointer;
}
.paramour .paramour-text .button button {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}
.paramour .paramour-text .button img {
  width: 24px;
}
.paramour .items {
  max-width: 320px;
  display: flex;
  margin-left: -80px;
}
.paramour .items .item {
  padding: 28px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #7D828F;
  background-color: #fff;
}
.paramour .items .item:hover {
  background-color: #EEEFF4;
  cursor: pointer;
}
.paramour .items .diff {
  width: 80px;
  height: 80px;
  background-color: #1B1D23;
  color: #FFFFFF;
}

.box {
  max-width: 1110px;
  height: 650px;
  margin: 0 auto;
  background-image: url(/home-page/images/bgc2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 200px;
}
.box h1 {
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  color: #EEEFF4;
}
.box .box-text {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 189px;
}
.box .box-text h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #1B1D23;
}
.box .box-text P {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #60636D;
}

section {
  max-width: 1110px;
  height: 560px;
  margin: 0 auto;
  background-image: url(/home-page/images/bgc1.png);
  margin-bottom: 200px;
}
section .section-text {
  max-width: 500px;
  padding-left: 190px;
  padding-top: 167px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}
section .section-text h1 {
  font-size: 59px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}
section .section-text .btn {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  background: #1B1D23;
  padding: 25px 32px 22px 35px;
}
section .section-text .btn:hover {
  background-color: #60636D;
  cursor: pointer;
}
section .section-text .btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.wrapper .wrapper-top {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper-top h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #1B1D23;
}
.wrapper .wrapper-top .buttons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  background: #1B1D23;
  padding: 25px 32px 22px 35px;
}
.wrapper .wrapper-top .buttons:hover {
  background-color: #60636D;
  cursor: pointer;
}
.wrapper .wrapper-top .buttons button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}
.wrapper .wrapper-cards {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
}
.wrapper .wrapper-cards .no-active {
  display: none;
}
.wrapper .wrapper-cards .card {
  position: relative;
}
.wrapper .wrapper-cards .card h1 {
  position: absolute;
  top: 45px;
  right: 0;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  opacity: 50%;
  color: #FFFFFF;
}
.wrapper .wrapper-cards .card .card-text {
  position: absolute;
  bottom: 39px;
  left: 40px;
  max-width: 200px;
}
.wrapper .wrapper-cards .card .card-text h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
}
.wrapper .wrapper-cards .card .card-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  opacity: 75%;
}

footer {
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 43px;
       column-gap: 43px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
footer .footer-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
  background-color: #ffffff;
}
footer .footer-left .logo {
  background-color: #1B1D23;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 52px;
  padding-right: 52px;
}
footer .footer-left .logo img {
  display: flex;
  align-self: center;
}
footer .footer-left ul {
  display: flex;
  -moz-column-gap: 61px;
       column-gap: 61px;
  list-style-type: none;
  color: #7D828F;
}
footer .footer-left ul li {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0, 1px;
}
footer .button {
  display: flex;
  padding: 25px 32px 22px 37px;
  background-color: #1B1D23;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
footer .button button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
}

@media (max-width: 1110px) {
  .paramour .items {
    display: none;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper .wrapper-cards img {
    width: 330px;
  }
}
@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container header {
    -moz-column-gap: 70px;
         column-gap: 70px;
    margin-bottom: 46px;
  }
  .container header ul li {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  .container .paramour {
    width: 560px;
    height: 720px;
  }
  .container .paramour .paramour-text {
    max-width: 450px;
    padding: 0;
    margin: 0 auto;
    padding-top: 176px;
  }
  .container .paramour .paramour-text h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -2px;
    text-align: left;
    margin-bottom: 10px;
  }
  .container .paramour .paramour-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .container .paramour .paramour-text .button {
    width: 60%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .container .paramour .paramour-text .button button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: right;
  }
  .container footer {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .container footer .footer-left {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .container footer .footer-left .logo {
    padding: 49px 32px;
  }
  .container footer .footer-left ul {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .container footer .footer-left ul li {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  .container .box {
    background-image: none;
  }
  .container .box h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: -3px;
    text-align: left;
  }
  .container .box .box-text {
    margin: 0 auto;
  }
  .container .box .box-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
  }
  .container .box .box-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .container section {
    width: 570px;
    height: 550px;
  }
  .container section .section-text {
    max-width: 390px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 167px;
    row-gap: 1px;
  }
  .container section .section-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
  }
  .container section .section-text .btn {
    width: 50%;
  }
  .container section .section-text .btn button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .container .wrapper {
    flex-direction: column;
  }
  .container .wrapper .wrapper-top h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
  }
  .container .wrapper .wrapper-top .buttons button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: right;
  }
  .container .wrapper .wrapper-cards {
    flex-direction: column;
    row-gap: 24px;
  }
  .container .wrapper .wrapper-cards .card h1 {
    font-size: 250px;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: -5px;
    text-align: right;
  }
  .container .wrapper .wrapper-cards .card .card-text {
    max-width: 200px;
  }
  .container .wrapper .wrapper-cards .card .card-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }
  .container .wrapper .wrapper-cards .card .card-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .container .wrapper .wrapper-cards img {
    width: 473px;
    height: 280px;
  }
}
@media (max-width: 730px) {
  footer {
    flex-direction: column;
    background-image: none;
    background: #EEEFF4;
  }
  footer .footer-left {
    flex-direction: column;
    row-gap: 33px;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 31px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .container header {
    margin-bottom: 32px;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
  .container header ul {
    display: none;
  }
  .container header .no-active {
    display: block;
  }
  .container .paramour {
    width: 320px;
    height: 550px;
  }
  .container .paramour .paramour-text {
    width: 300px;
    padding-top: 110px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .container .paramour .paramour-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2000000477px;
    margin-bottom: 11px;
  }
  .container .paramour .paramour-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 83px;
  }
  .container .paramour .paramour-text .button {
    width: 90%;
  }
  .container .paramour .paramour-text .button button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: right;
  }
  .container .box h1 {
    display: none;
  }
  .container .box .box-text {
    max-width: 350px;
    margin: 0 auto;
  }
  .container .box .box-text h1 {
    max-width: 240px;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.7142857313px;
    text-align: center;
    display: block;
  }
  .container .box .box-text .ess-line {
    width: 64px;
    height: 1px;
    background-color: #C8CCD8;
    margin-bottom: 68px;
  }
  .container .box .box-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .container section {
    width: 300px;
    height: 550px;
  }
  .container section .section-text {
    max-width: 300px;
    padding-left: 0;
    padding-top: 167px;
    row-gap: 23px;
  }
  .container section .section-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.7142857313px;
    text-align: left;
  }
  .container section .section-text .btn {
    width: 65%;
  }
  .container section .section-text .btn button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .container .wrapper {
    row-gap: 43px;
  }
  .container .wrapper .wrapper-top h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.7142857313px;
    text-align: left;
  }
  .container .wrapper .wrapper-top .buttons {
    display: none;
    width: 300px;
  }
  .container .wrapper .wrapper-cards img {
    width: 300px;
    height: 230px;
  }
  .container .wrapper .wrapper-cards h1 {
    display: none;
  }
  .container .wrapper .wrapper-cards .card-text h1 {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }
  .container .wrapper .wrapper-cards .card-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .container .wrapper .wrapper-cards .no-active {
    display: block;
    display: flex;
  }
  .container .wrapper .wrapper-cards .no-active button {
    background-color: #1B1D23;
    padding: 25px 80px;
    border: none;
    color: #FFFFFF;
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 auto;
  }
  .container .wrapper .wrapper-cards .no-active img {
    width: 24px;
    height: 18px;
  }
}/*# sourceMappingURL=style.css.map */